@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  min-width: 100vw;
}
html body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}
.container .back {
  width: 100vw;
  height: 45rem;
  position: absolute;
  background-image: url("../assets/img/bg-hero-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(193deg, 100%, 96%);
  z-index: -1;
}
.container .header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 45rem;
  padding: 3rem 5rem 4.3rem 5rem;
  box-sizing: border-box;
  width: 90rem;
}
.container .header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .header .navbar .icon {
  cursor: pointer;
  width: 200px;
  height: 30px;
}
.container .header .navbar .nav-button {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: hsl(192deg, 100%, 9%);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 200px;
  height: 50px;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 2px 2px 15px -5px hsl(208deg, 11%, 65%);
  transition: all 0.2s linear;
}
.container .header .navbar .nav-button:hover {
  color: hsla(192deg, 100%, 9%, 0.5);
}
.container .header .header-desc {
  display: flex;
}
.container .header .header-desc .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  width: 46%;
}
.container .header .header-desc .left-side h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: hsl(192deg, 100%, 9%);
  width: 28rem;
  text-align: left;
}
.container .header .header-desc .left-side p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: hsl(192deg, 100%, 9%);
  width: 32rem;
  line-height: 27px;
  text-align: left;
}
.container .header .header-desc .left-side .general-button {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: none;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(322deg, 100%, 66%);
  border-radius: 27.5px;
  width: 280px;
  height: 55px;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s linear;
}
.container .header .header-desc .left-side .general-button:hover {
  background-color: hsl(322deg, 100%, 80%);
}
.container .header .header-desc .right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 54%;
}
.container .header .header-desc .right-side .header-img {
  width: 42.5rem;
}
.container .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90rem;
  height: fit-content;
  gap: 40px;
  box-sizing: border-box;
  margin-top: 10rem;
  margin-bottom: 21.5rem;
}
.container .content .card, .container .content .card-3, .container .content .card-2 {
  border-radius: 0.8rem;
  display: flex;
  width: 77rem;
  height: 27.5rem;
  padding: 3rem 3rem 3rem 6rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px -5px hsla(208deg, 11%, 55%, 0.8);
}
.container .content .card .left-card, .container .content .card-3 .left-card, .container .content .card-2 .left-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 14px;
  width: 50%;
}
.container .content .card .left-card h2, .container .content .card-3 .left-card h2, .container .content .card-2 .left-card h2 {
  font-family: "Poppins", sans-serif;
  color: hsl(192deg, 100%, 9%);
  font-weight: 600;
  font-size: 28px;
}
.container .content .card .left-card p, .container .content .card-3 .left-card p, .container .content .card-2 .left-card p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: hsl(208deg, 11%, 55%);
  width: 30rem;
}
.container .content .card .right-card, .container .content .card-3 .right-card, .container .content .card-2 .right-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.container .content .card .right-card img, .container .content .card-3 .right-card img, .container .content .card-2 .right-card img {
  width: 25.75rem;
  object-fit: cover;
}
.container .content .card-2 {
  padding: 3rem;
}
.container .content .card-2 .left-card {
  padding-left: 2rem;
  box-sizing: border-box;
}
.container .content .card-2 .right-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 3rem;
  box-sizing: border-box;
  width: 50%;
}
.container .content .card-2 .right-card img {
  width: 25.75rem;
  object-fit: cover;
}
.container .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  position: relative;
  height: 35rem;
  background-color: hsl(192deg, 100%, 9%);
}
.container .footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 90rem;
  height: 35rem;
  box-sizing: border-box;
  padding: 8rem 7.5rem 0 7.5rem;
  gap: 40px;
}
.container .footer .footer-container .card-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 0.8rem;
  width: 50rem;
  height: 17.5rem;
  position: absolute;
  left: 50%;
  top: -44px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px -5px hsla(208deg, 11%, 55%, 0.8);
  gap: 2.2rem;
}
.container .footer .footer-container .card-start h3 {
  font-family: "Poppins", sans-serif;
  color: hsl(192deg, 100%, 9%);
  font-size: 32px;
}
.container .footer .footer-container .card-start .footer-button {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  width: 25rem;
  height: 5rem;
  background-color: hsl(322deg, 100%, 66%);
  border-radius: 2.5rem;
  border: none;
  color: hsl(0deg, 0%, 100%);
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 0px 10px -5px hsl(208deg, 11%, 55%);
  transition: all 0.2s linear;
}
.container .footer .footer-container .card-start .footer-button:hover {
  background-color: hsl(322deg, 100%, 80%);
}
.container .footer .footer-container .icon-2 {
  width: 240px;
}
.container .footer .footer-container .footer-info {
  display: flex;
  width: 100%;
  height: fit-content;
}
.container .footer .footer-container .footer-info .desc-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 31.25rem;
  height: fit-content;
  gap: 22px;
}
.container .footer .footer-container .footer-info .desc-1 .location, .container .footer .footer-container .footer-info .desc-1 .mail, .container .footer .footer-container .footer-info .desc-1 .phone {
  display: flex;
  gap: 28px;
}
.container .footer .footer-container .footer-info .desc-1 .location img, .container .footer .footer-container .footer-info .desc-1 .mail img, .container .footer .footer-container .footer-info .desc-1 .phone img {
  width: 13px;
  margin-top: 5px;
  height: 18px;
}
.container .footer .footer-container .footer-info .desc-1 .location p, .container .footer .footer-container .footer-info .desc-1 .mail p, .container .footer .footer-container .footer-info .desc-1 .phone p {
  font-family: "Open Sans", sans-serif;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  width: 21rem;
  line-height: 24px;
}
.container .footer .footer-container .footer-info .desc-1 .phone {
  align-items: center;
  gap: 22px;
}
.container .footer .footer-container .footer-info .desc-1 .phone img {
  width: 18px;
  margin-top: 0;
}
.container .footer .footer-container .footer-info .desc-1 .mail {
  align-items: center;
  gap: 21px;
}
.container .footer .footer-container .footer-info .desc-1 .mail img {
  width: 20px;
  height: 16px;
  margin-top: 0;
}
.container .footer .footer-container .footer-info .desc-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 14rem;
  height: fit-content;
  gap: 17px;
}
.container .footer .footer-container .footer-info .desc-2 .fake-link {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  font-size: 18px;
}
.container .footer .footer-container .footer-info .desc-3 {
  width: 15.75rem;
  display: flex;
  gap: 12px;
  height: fit-content;
}
.container .footer .footer-container .footer-info .desc-3 i {
  cursor: pointer;
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 16px;
  padding: 8px;
  color: hsl(0deg, 0%, 100%);
  width: 16px;
  height: 16px;
  transition: all 0.2s linear;
}
.container .footer .footer-container .footer-info .desc-3 i:hover {
  border: 1px solid hsl(322deg, 100%, 66%);
  color: hsl(322deg, 100%, 66%);
}
.container .footer .footer-container .copyright {
  align-self: flex-end;
  font-family: "Open Sans", sans-serif;
  color: hsl(0deg, 0%, 100%);
  font-size: 13px;
}

@media (max-width: 1440px) {
  .container .back {
    height: 41rem;
  }
  .container .header {
    width: 80rem;
    height: 41rem;
  }
  .container .header .header-desc .left-side h1 {
    font-size: 30px;
    width: 26rem;
  }
  .container .header .header-desc .left-side p {
    font-size: 15px;
    width: 30rem;
  }
  .container .header .header-desc .left-side .general-button {
    width: 240px;
    font-size: 13px;
  }
  .container .header .header-desc .right-side .header-img {
    width: 38rem;
  }
  .container .content {
    margin-top: 8rem;
    width: 80rem;
    margin-bottom: 18.5rem;
  }
  .container .content .card, .container .content .card-2, .container .content .card-3 {
    width: 70rem;
    height: 24.5rem;
  }
  .container .content .card .left-card h2, .container .content .card-2 .left-card h2, .container .content .card-3 .left-card h2 {
    font-size: 24px;
  }
  .container .content .card .left-card p, .container .content .card-2 .left-card p, .container .content .card-3 .left-card p {
    font-size: 15px;
    width: 27rem;
  }
  .container .content .card .right-card img, .container .content .card-2 .right-card img, .container .content .card-3 .right-card img {
    width: 22.75rem;
  }
  .container .footer .footer-container {
    width: 80rem;
    padding: 8rem 5rem 0 5rem;
  }
  .container .footer .footer-container .card-start {
    height: 15.5rem;
    width: 45rem;
  }
  .container .footer .footer-container .card-start h3 {
    font-size: 28px;
  }
  .container .footer .footer-container .card-start .footer-button {
    width: 21rem;
    height: 4rem;
    font-size: 17px;
  }
  .container .footer .footer-container .footer-info .desc-1 .location p, .container .footer .footer-container .footer-info .desc-1 .phone p, .container .footer .footer-container .footer-info .desc-1 .mail p {
    font-size: 14px;
    width: 20rem;
  }
  .container .footer .footer-container .footer-info .desc-2 .fake-link {
    font-size: 16px;
  }
  .container .footer .footer-container .footer-info .desc-3 i {
    padding: 7px;
  }
  .container .footer .footer-container .copyright {
    font-size: 12px;
  }
}
@media (max-width: 1360px) {
  .container .back {
    height: 37rem;
  }
  .container .header {
    width: 70rem;
    height: 37rem;
  }
  .container .header .navbar .icon {
    width: 180px;
    height: 25px;
  }
  .container .header .navbar .nav-button {
    width: 180px;
    height: 40px;
  }
  .container .header .header-desc .left-side {
    gap: 1.3rem;
  }
  .container .header .header-desc .left-side h1 {
    font-size: 24px;
    width: 21rem;
  }
  .container .header .header-desc .left-side p {
    font-size: 14px;
    width: 25rem;
  }
  .container .header .header-desc .left-side .general-button {
    width: 210px;
    font-size: 12px;
  }
  .container .header .header-desc .right-side .header-img {
    width: 33rem;
  }
  .container .content {
    margin-top: 7rem;
    width: 70rem;
    margin-bottom: 17.5rem;
  }
  .container .content .card, .container .content .card-2, .container .content .card-3 {
    width: 60rem;
    height: 23rem;
  }
  .container .content .card .left-card h2, .container .content .card-2 .left-card h2, .container .content .card-3 .left-card h2 {
    font-size: 22px;
  }
  .container .content .card .left-card p, .container .content .card-2 .left-card p, .container .content .card-3 .left-card p {
    font-size: 14px;
    width: 24rem;
  }
  .container .content .card .right-card img, .container .content .card-2 .right-card img, .container .content .card-3 .right-card img {
    width: 20.75rem;
  }
  .container .footer {
    height: 32rem;
  }
  .container .footer .footer-container {
    width: 70rem;
    height: 32rem;
  }
  .container .footer .footer-container .card-start {
    height: 13.5rem;
    width: 40rem;
  }
  .container .footer .footer-container .card-start h3 {
    font-size: 25px;
  }
  .container .footer .footer-container .card-start .footer-button {
    width: 19rem;
    height: 3.5rem;
    font-size: 15px;
  }
  .container .footer .footer-container .footer-info .desc-1 .location p, .container .footer .footer-container .footer-info .desc-1 .phone p, .container .footer .footer-container .footer-info .desc-1 .mail p {
    font-size: 13px;
    width: 18rem;
  }
  .container .footer .footer-container .footer-info .desc-2 .fake-link {
    font-size: 14px;
  }
  .container .footer .footer-container .footer-info .desc-3 {
    width: 18.75rem;
  }
  .container .footer .footer-container .footer-info .desc-3 i {
    padding: 6px;
  }
  .container .footer .footer-container .copyright {
    font-size: 11px;
  }
}
@media (max-width: 1120px) {
  .container .back {
    height: 33rem;
  }
  .container .header {
    width: 60rem;
    height: 33rem;
  }
  .container .header .navbar .icon {
    width: 160px;
  }
  .container .header .navbar .nav-button {
    width: 170px;
    height: 36px;
  }
  .container .header .header-desc .left-side {
    gap: 0.8rem;
  }
  .container .header .header-desc .left-side h1 {
    font-size: 20px;
    width: 18rem;
    line-height: 24px;
  }
  .container .header .header-desc .left-side p {
    font-size: 14px;
    width: 19rem;
    line-height: 22px;
  }
  .container .header .header-desc .left-side .general-button {
    width: 190px;
    height: 40px;
  }
  .container .header .header-desc .right-side .header-img {
    width: 100%;
  }
  .container .content {
    margin-top: 6rem;
    width: 60rem;
    margin-bottom: 16.5rem;
  }
  .container .content .card, .container .content .card-2, .container .content .card-3 {
    width: 50rem;
    height: 21rem;
  }
  .container .content .card .left-card h2, .container .content .card-2 .left-card h2, .container .content .card-3 .left-card h2 {
    font-size: 20px;
  }
  .container .content .card .left-card p, .container .content .card-2 .left-card p, .container .content .card-3 .left-card p {
    width: 19rem;
  }
  .container .content .card .right-card img, .container .content .card-2 .right-card img, .container .content .card-3 .right-card img {
    width: 17.75rem;
  }
  .container .footer {
    height: 30rem;
  }
  .container .footer .footer-container {
    width: 60rem;
    height: 30rem;
    padding: 5rem 5rem 0 5rem;
  }
  .container .footer .footer-container .card-start {
    height: 12.5rem;
    width: 35rem;
  }
  .container .footer .footer-container .card-start h3 {
    font-size: 22px;
  }
  .container .footer .footer-container .card-start .footer-button {
    width: 16rem;
    height: 3.2rem;
    font-size: 14px;
  }
  .container .footer .footer-container .footer-info .desc-1 .location p, .container .footer .footer-container .footer-info .desc-1 .phone p, .container .footer .footer-container .footer-info .desc-1 .mail p {
    font-size: 12px;
    width: 14rem;
    line-height: 18px;
  }
  .container .footer .footer-container .footer-info .desc-2 .fake-link {
    font-size: 13px;
  }
  .container .footer .footer-container .footer-info .desc-3 {
    width: 20.75rem;
  }
  .container .footer .footer-container .footer-info .desc-3 i {
    padding: 5px;
  }
  .container .footer .footer-container .copyright {
    font-size: 10px;
  }
}
@media (max-width: 960px) {
  .container .back {
    height: 50rem;
  }
  .container .header {
    width: 50rem;
    height: 50rem;
    padding-bottom: 2rem;
  }
  .container .header .header-desc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .container .header .header-desc .left-side {
    width: 100%;
    align-items: center;
    gap: 1.8rem;
  }
  .container .header .header-desc .left-side h1 {
    font-size: 24px;
    width: 32rem;
    text-align: center;
  }
  .container .header .header-desc .left-side p {
    font-size: 14px;
    width: 32rem;
    text-align: center;
  }
  .container .header .header-desc .left-side .general-button {
    width: 290px;
    height: 40px;
  }
  .container .header .header-desc .right-side {
    width: 100%;
  }
  .container .header .header-desc .right-side .header-img {
    width: 32rem;
  }
  .container .content {
    margin-top: 4rem;
    width: 50rem;
    margin-bottom: 17.5rem;
  }
  .container .content .card, .container .content .card-2, .container .content .card-3 {
    width: 32rem;
    height: 34rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 3rem;
  }
  .container .content .card .left-card, .container .content .card-2 .left-card, .container .content .card-3 .left-card {
    align-items: center;
    width: 100%;
  }
  .container .content .card .left-card h2, .container .content .card-2 .left-card h2, .container .content .card-3 .left-card h2 {
    font-size: 20px;
    text-align: center;
  }
  .container .content .card .left-card p, .container .content .card-2 .left-card p, .container .content .card-3 .left-card p {
    width: 24rem;
    text-align: center;
  }
  .container .content .card .right-card, .container .content .card-2 .right-card, .container .content .card-3 .right-card {
    width: 100%;
  }
  .container .content .card .right-card img, .container .content .card-2 .right-card img, .container .content .card-3 .right-card img {
    width: 22.75rem;
    height: 320px;
    object-fit: contain;
  }
  .container .content .card-2 {
    flex-direction: column;
  }
  .container .content .card-2 .left-card {
    padding: 0;
  }
  .container .content .card-2 .right-card {
    padding: 0;
    justify-content: center;
  }
  .container .footer {
    height: 48rem;
  }
  .container .footer .footer-container {
    width: 42rem;
    height: 48rem;
    padding: 5rem 5rem 0 5rem;
    gap: 24px;
  }
  .container .footer .footer-container .card-start {
    height: 14.5rem;
    width: 32rem;
  }
  .container .footer .footer-container .footer-info {
    flex-direction: column;
    gap: 17px;
  }
  .container .footer .footer-container .footer-info .desc-1 {
    width: 100%;
    gap: 24px;
    margin-bottom: 24px;
  }
  .container .footer .footer-container .footer-info .desc-1 .location p, .container .footer .footer-container .footer-info .desc-1 .phone p, .container .footer .footer-container .footer-info .desc-1 .mail p {
    font-size: 13px;
    width: 20rem;
  }
  .container .footer .footer-container .footer-info .desc-2 {
    width: 100%;
  }
  .container .footer .footer-container .footer-info .desc-2 .fake-link {
    font-size: 14px;
  }
  .container .footer .footer-container .footer-info .desc-3 {
    width: 100%;
    margin-top: 30px;
  }
  .container .footer .footer-container .copyright {
    align-self: center;
    font-size: 11px;
  }
}
@media (max-width: 800px) {
  .container .back {
    height: 42rem;
  }
  .container .header {
    height: 42rem;
    width: 35rem;
    padding-top: 2rem;
  }
  .container .header .navbar {
    align-items: center;
  }
  .container .header .navbar .icon {
    width: 134px;
    height: 20px;
  }
  .container .header .navbar .nav-button {
    width: 120px;
    height: 28px;
    font-size: 13px;
  }
  .container .header .header-desc {
    gap: 2.6rem;
  }
  .container .header .header-desc .left-side {
    gap: 1.4rem;
  }
  .container .header .header-desc .left-side h1 {
    width: 20rem;
    line-height: 34px;
  }
  .container .header .header-desc .left-side p {
    width: 17rem;
  }
  .container .header .header-desc .left-side .general-button {
    width: 236px;
  }
  .container .header .header-desc .right-side .header-img {
    width: 18rem;
  }
  .container .content {
    width: 35rem;
    margin-top: 3.6rem;
    margin-bottom: 14rem;
  }
  .container .content .card, .container .content .card-2, .container .content .card-3 {
    width: 24rem;
    height: 32rem;
  }
  .container .content .card .left-card p, .container .content .card-2 .left-card p, .container .content .card-3 .left-card p {
    width: 16rem;
  }
  .container .content .card .right-card img, .container .content .card-2 .right-card img, .container .content .card-3 .right-card img {
    width: 17.17rem;
    height: 232px;
  }
  .container .footer .footer-container {
    width: 34rem;
  }
  .container .footer .footer-container .card-start {
    height: 11.5rem;
    width: 24rem;
    gap: 1.4rem;
    top: -20px;
  }
  .container .footer .footer-container .card-start h3 {
    font-size: 19px;
  }
  .container .footer .footer-container .card-start .footer-button {
    width: 14rem;
    height: 3rem;
    font-size: 12px;
  }
  .container .footer .footer-container .icon-2 {
    width: 170px;
  }
  .container .footer .footer-container .footer-info .desc-1 .location p, .container .footer .footer-container .footer-info .desc-1 .phone p, .container .footer .footer-container .footer-info .desc-1 .mail p {
    font-size: 14px;
    width: 16.1rem;
  }
  .container .footer .footer-container .footer-info .desc-2 .fake-link {
    font-size: 15px;
  }
  .container .footer .footer-container .footer-info .desc-3 {
    justify-content: center;
  }
}
@media (max-width: 560px) {
  .container .header {
    width: 20rem;
    padding-left: 0;
    padding-right: 0;
  }
  .container .header .navbar .icon {
    width: 100px;
    height: 16px;
  }
  .container .header .navbar .nav-button {
    width: 110px;
    height: 26px;
  }
  .container .header .header-desc .left-side p {
    width: 16.4rem;
  }
  .container .content {
    margin-bottom: 13rem;
    width: 20rem;
  }
  .container .content .card, .container .content .card-2, .container .content .card-3 {
    height: 28rem;
    width: 20rem;
    padding: 2rem;
  }
  .container .content .card .right-card img, .container .content .card-2 .right-card img, .container .content .card-3 .right-card img {
    width: 15.17rem;
    height: 224px;
  }
  .container .footer .footer-container {
    width: 20rem;
    padding-right: 0;
    padding-left: 0;
  }
  .container .footer .footer-container .card-start {
    height: 10.5rem;
    width: 20rem;
    gap: 1rem;
    top: -28px;
  }
  .container .footer .footer-container .card-start h3 {
    font-size: 18px;
    width: 12rem;
    text-align: center;
  }
  .container .footer .footer-container .card-start .footer-button {
    width: 13rem;
    height: 2.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
